<!DOCTYPE html>
<html>
<head>
    <title>{{ config.TITLE }}</title>
</head>
<body>
<img src="{{ url_for('static', filename=path) }}" width="100%">
</body>
<script type="application/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
<script>
$(document).ready(
    setInterval(
        function() {
            $('img').each(function() {
                var obj = $(this);
                $.getJSON('img_path').done(
                    function (data) {
                        console.log(data);
                        console.log(obj.attr('src'));
                        if (obj.attr('src') != data.path)
                        {
                            obj.attr('src', data.path);
                        }
                    }
                )
            })
        },
        100
    )
)
</script>
</html>
